body{
        background: url(img/16.jpg) repeat;
        -moz-background-size: 100%;
        -webkit-background-size: 100%; 
        -o-background-size: 100%; 
        background-size: 100%;
}
        
.header h1{
        color: #ffa762;
        padding-left: 5%;
        padding-top: 1%;
}
hr{ 
    background-color: #ffa762; 
    color: red;  
}

