{% extends "layout.html" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
{% endblock %}


{% block body%}
<div class="loged">
    <form action="{{ url_for('index') }}" method="get">
    <h4>Hello {{ loged }}</h4> 
    <button>Click to LogOut</button>
    </form>
</div>


<form action="{{ url_for('searching') }}" method="post" method ="get">
  <input name="search" placeholder="Search..." type="search">
  <button class ="but" type="submit"> </button>
</form>

<div class = "books">
{% if books %}
    {% for book in books %}
    <ol><a href="{{ url_for('book_page', isbn=book[0]) }}"> {{ book }} </a></ol>
    {% endfor %}
{% endif %}

{% if message %}
    <h4>Didn't find any relations</h4>
{% endif %}
</div>
{% endblock %}