body{
    background: url(background.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
}
.header{
    margin-top: 0.5%;
}
h1{
    text-align: center;
    font-family: fantasy;
}
.col-sm{
    text-align: center;
}

.col-sm > a {
    color: #898986;
    font-family: sans-serif;
}
.col-sm > a:hover{
    color: #147fc3;
    text-decoration: none;
}
#content{
    margin-top: 40px;
    font-family: sans-serif;
}
.list-unstyled{
    @extend #content;
}

$lifont: fantasy;
$hfamily: cursive;
.list-unstyled{
    li{
        font-family: $lifont;
    }
    h5{
        font-family: $hfamily;
    }
    img{
        width: 80px;
        height: 80px;
    }
}